header,nav,article,section,aside,footer{display:block;}


*{margin:0;}
*{padding:0;}
img{vertical-align:bottom;}

.clearfix:after{
content:".";
display:block;
clear:both;
height:0;
visibility:hidden;
}

a:hover img{
opacity:0.8;
filter:alpha(opacity=80);
-ms-filter: "alpha( opacity=80 )";
}

body{
background-image:url(img_ap/mokume.jpg);
}


#wrap{
background-color:#fff/*pink*/;
width:960px;
margin:auto;
}

#contact{
width:320px;
height:80px;
text-align:center;
background-color:#fff;
position:fixed;
top:0;
}
#contact_text1{
background-color:#3c5200;
color:#fff;
font-size:12px;
}
#contact ul{
}

ul{float:left;}
li{
float:left;
list-style-type:none;
}
.stop{clear:left;}

#contact_text2{
background-image:url(img_ap/linen_bg1.jpg);
width:640px;
height:80px;
font-size:12px;
text-align:center;
padding-left:320px;
background-color:#ccc;
}

header{
background-color:#fff;
}

h1{
float:left;
}
#line{
float:left;
padding-left:20px;
}


#nav_01 a:link{
display:block;
background-image:url(img_ap/navi001.gif);
background-repeat:no-repeat;
width:160px;
height:50px;
text-indent:100%;
white-space:nowrap;
overflow:hidden;
}
#nav_01 a:hover{
background-position:0 -50px;
}

#nav_02 a:link{
display:block;
background-image:url(img_ap/navi002.gif);
background-repeat:no-repeat;
width:160px;
height:50px;
text-indent:100%;
white-space:nowrap;
overflow:hidden;
}
#nav_02 a:hover{
background-position:0 -50px;
}

#nav_03 a:link{
display:block;
background-image:url(img_ap/navi003.gif);
background-repeat:no-repeat;
width:160px;
height:50px;
text-indent:100%;
white-space:nowrap;
overflow:hidden;
}
#nav_03 a:hover{
background-position:0 -50px;
}

#nav_04 a:link{
display:block;
background-image:url(img_ap/navi004.gif);
background-repeat:no-repeat;
width:160px;
height:50px;
text-indent:100%;
white-space:nowrap;
overflow:hidden;
}
#nav_04 a:hover{
background-position:0 -50px;
}

#nav_05 a:link{
display:block;
background-image:url(img_ap/navi005.gif);
background-repeat:no-repeat;
width:160px;
height:50px;
text-indent:100%;
white-space:nowrap;
overflow:hidden;
}
#nav_05 a:hover{
background-position:0 -50px;
}

#nav_06 a:link{
display:block;
background-image:url(img_ap/navi006.gif);
background-repeat:no-repeat;
width:160px;
height:50px;
text-indent:100%;
white-space:nowrap;
overflow:hidden;
}
#nav_06 a:hover{
background-position:0 -50px;
}

h2{
background-image:url(img_ap/linen_bg1.jpg);
text-align:center;
padding:10px;
color:#333;
}

h3{
background-color:#581;
color:#fff;
}
#cafeapron_text{
background-image:url(img_ap/linen_bg1.jpg);
width:360px;
text-align:center;
line-height:1.7;
float:left;
}
/*span*/#red{color:#f51;
font-weight:bold;}
#ap_img{
float:left;
position:relative;
right:0;
}

	.slider {
	width: 360px;
	height: 480px;
	overflow: hidden;
	}

	input[type=radio] {
	display: none;
	}

	.inner_slider {
	position: relative;
	}

.img1 {
	position: absolute;
	left: 0;
	top: 0;
	}

	.img2 {
	position: absolute;
	left: 360px;
	top: 0;
	}

	.img3 {
	position: absolute;
	left: 720px;
	top: 0;
}

	.img4 {
	position: absolute;
	left: 1080px;
	top: 0;
}
	.img5 {
	position: absolute;
	left: 1440px;
	top: 0;
}

	.img6 {
	position: absolute;
	left: 1800px;
	top: 0;
}



	.inner_slider {
	position: relative;
	width: 2160px;
	left: 0;
	top: 0;
	transition: all .3s ease-in-out;
	}

	#radio_slider1:checked ~ .inner_slider {
	transform: translateX(0);
	}

	#radio_slider2:checked ~ .inner_slider {
	transform: translateX(-360px);
	}

	#radio_slider3:checked ~ .inner_slider {
	transform: translateX(-720px);
	}

	#radio_slider4:checked ~ .inner_slider {
	transform: translateX(-1080px);
	}

	#radio_slider5:checked ~ .inner_slider {
	transform: translateX(-1440px);
	}

	#radio_slider6:checked ~ .inner_slider {
	transform: translateX(-1800px);
	}


.item_list{
float:left;
}

#main{
float:left;
width:720px;
height:1000px;
background-color:#fff/*#666*/;
}

#side{
float:left;
width:200px;
padding-left:20px;
height:1000px;
background-color:#fff;
}

.r_bnr{
}

footer{
clear:left;
text-align:center;
background-color:#3c5200;
color:#fff;
padding:20px;
}
